* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: auto;

}

@media screen and (max-width:576px) {
    .heding {
        justify-content: center;
        flex-direction: column;
        width: 700px;
    }

    .snav {
        flex-direction: column;
        gap: 60px;
        margin-top: 10px;
        align-items: center;
    }

    .tnav>ul {
        flex-direction: column;
        gap: 60px;
        justify-content: center;
    }

    .first-nav {
        justify-content: center;
    }
}

@media screen and (max-width:576px) {
    .snd-part {
        flex-direction: column-reverse;
    }

    .bigpic {
        justify-content: center;
        margin-left: 140px;
        width: 100%;
        margin-top: 30px;
    }

    .dis {
        padding-left: 100px;
        height: fit-content;
    }
}

@media screen and (max-width:576px) {
    .main-part {
        flex-direction: column;
        justify-content: center;
    }

    .image-part {
        margin-top: 100px;
    }

    .lekha-part {
        text-align: center;
        padding-left: 80px;
    }

    .btn3 {
        margin-top: 20px;
    }
    .onek-chobi {
        flex-direction: column;
    }

    .onek1 {
        width: 300px;
    }

    .onek2 {
        width: 300px;
    }

    .onek3 {
        width: 300px;
    }

    .onek4 {
        width: 300px;
    }

    .lekha-part2{
        display: flex;
        flex-direction: column;
        padding-left: 130px;
        width: 450px;
    }
    .main-part2{
        align-items: center;
        align-content: center;
        padding-left: 20px;

    }
    .main-part3 {
        flex-direction: column;
        margin-top: 150px;
        justify-content: center;
    }
    .jora-dis {
        text-align: center;
        padding-right: 90px;
    }
    .dobble{
        margin-top: 60px;
        padding-left: 260px;
    }
    .jora-chobi1{
        width: 150%;
    }
    .jora-chobi2{
        width: 90%;
    }
}