* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: auto;
 
}
@media screen and (max-width:576px){
    .heding{
        justify-content: center;
        flex-direction: column;
        width: 590px;
    }
    .snav {
        flex-direction: column;
        gap: 60px;
        margin-top: 10px;
        align-items: center;
    }

    .tnav>ul {
        flex-direction: column;
        gap: 60px;
        justify-content: center;
    }
    .first-nav{
        justify-content: center;
    }
}
@media screen and (max-width:576px){
    .snd-part{
        flex-direction: column;
    }
    .bigpic{
        justify-content: center;
        margin-left: 160px;
    }
}