* {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

.heding {
    display: flex;
    justify-content: space-around;
    margin: 5px auto;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    height: fit-content;
    margin-right: 0px;
}

.first-nav {
    display: flex;

}

.snav a {
    text-decoration: none;
    list-style: none;
}

.tnav>ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding-top: 10px;
}

.snav {
    display: flex;
    gap: 20px;
    padding-top: 35px;
    padding-right: 20px;
    padding-bottom: 20px;

}

.game {
    padding-top: 35px;
    font-size: 40px;

}

.rimote {
    width: 90px;
    height: 80px;
    padding-top: 30px;
    margin-right: 20px;
}

.back {
    background-color: aqua;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 10px;

}

.ggame {
    color: cadetblue;
}

.snd-part {
    display: flex;
    justify-content: space-between;
    background: #FFF;
    align-items: center;
    background-image: url(../images/Group\ 14.png);
    background-size: contain;
    background-repeat: no-repeat;

}

.bigpic {
    margin-right: 150px;
    width: 80vh;
}

.dis {
    height: 600px;
    width: 566px;
    margin-bottom: 80px;
    align-items: center;
    text-align: center;
}

.dis1 {
    margin-top: 100px;
    color: #0B0223;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-right: 70px;
}

.dis2 {
    font-size: 85px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 10px;
}

.dis3 {
    color: #534C64;
    font-size: 15px;
    font-weight: 500;
    padding-right: 166px;
    margin-top: 20px;
}

.dis4 {
    color: #534C64;
    font-size: 15px;
    font-weight: 500;
    padding-right: 208px;
    margin-top: 20px;

}

.dis5 {
    color: #534C64;
    font-size: 15px;
    font-weight: 500;
    padding-right: 62px;
    margin-top: 20px;
}

.btn {
    margin-top: 20px;
    padding-right: 10px;
}

.btn1 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 30px;
    border: none;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.btn2 {
    padding: 21px 30px;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    background: #4EC5F7;
    border: none;
}

.main-part {
    display: flex;
    padding: 0px 80px;
    justify-content: space-around;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.lekha-part {
    text-align: right;
    width: 75vh;
}

.image-part {
    width: 100vh;
    /* height: 450px; */
}

.we {
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inter {
    color: #534C64;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
}

.btn3 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 20px;
    gap: 10px;
    border-radius: 30px;
    border: none;
    margin-top: 19px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.our {
    color: #534C64;
    font-size: 20px;
    line-height: 40px;
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    margin-top: 15px;
}